# Super admin для API/UI
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=

# UI
UI_URL=https://dev-cinescope.coconutqa.ru/
AUTH_URL=https://auth.dev-cinescope.coconutqa.ru/
UI_TIMEOUT_MS=30000

# DB
HOSTDB=
PORTDB=
NAMEDB=
USERDB=
PASSWORDDB=

# Playwright (опционально)
PW_CHROMIUM_CHANNEL=chrome
PW_HEADLESS=true
